body {
  padding-left: 50px;
  padding-right: 100px;
  background-color: black;
  padding-bottom: 0;


}

.navbar {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid white;
  border-radius: 5px;
  background-color: black;

}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  background-color: black;

}

.navbar li {
  display: inline-block;

}

.navbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 23px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: system-ui;
  font-style: upperrcase;
}

.roblox {
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', serif;
  float: right;
}

.roblox b {
  color: red;
}

a:hover {
  border: 2px solid white;
  border-radius: 30px;
  animation-name: x;

}


.name {
  width: 100%;
  height: 270px;
  padding: 15px;

}

.name h1 {
  text-align: center;
  font-size: 65px;
  color-interpolation-filters: white;
  color: white;
  font-family: 'Times New Roman', serif;

}

.name h1 b {
  color: red;

}

.proimg {
  float: right;
  width: 400px;
  height: 375px;
}


.avatar {
  background-color: white;
  border: 2px solid whi;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;

}

  @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.av {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin: 10px;

}

.woord {
  border: 7px solid red;
  padding: 10px;
  width: 100%;
  height: 250px;
  border-radius: 400px;
  background-color: black;
  border-spacing: 10px;


}

.word {
  color: white;
  font-size: 35px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 45px;

}

.copy1 {
  color: white;
  text-align: center;

}

.red {
  color: red;
}

.woord a {
  background-color: black;
}

.woord a:hover {
  border-color: black;
}

.name {
  background: #000000;
  width: 100%;
  height: 100px;
  animation-name: x;
  animation-duration: 2.8s;
  animation-iteration-count: 1;
  
}

@keyframes x {
  0% {
    background: black;
    width: 0%;
  }

  100%{
    background: black;
    width: 100%;
  }
